<table>
  <thead>
    <tr>
      <th>name</th>
      <th>location</th>
      <th>price</th>
      <th>Description</th>
      <th>Starts at</th>
    </tr>
  </thead>
  <tbody>
      <% @events.each do |event|%>
      <tr>
        <td><%= event.name%></td>
        <td><%= event.location%></td>
        <td>
          <%= price(event)%>
          </td>
        <td><%= truncate(event.description, length: 35, separator: ' ')%></td>
        <td><%= day_and_time(event)%></td>
      </tr>

      <% end %>
  </tbody>
</table>





